<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free movie catalogue for you">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <meta name="theme-color" content="#db0000"/>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Le restaurant</title>
</head>
<body>
  <a class="skip-link" id="skip-content" tabindex="0">Skip To Content</a>
  <button id="btn-back-top" tabindex="2"></button>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton"><span class="hamburger-button__icon"></span></button>
    </div>
    <div class="app-bar__brand">
      <h1>Le restaurant</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home">home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.instagram.com/_brln.by/" target="blank" rel="noopener">About</a></li>
      </ul>
    </nav>
  </header>
  <section class="hero" id="hero"></section>
  <main id="mainContent" tabindex="0"></main>
  <footer>
    <p>Copyright &#169; 2022 - Le restaurant</p>
  </footer>
</body>
</html>